@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap
);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'poppins',sans-serif;
}
/* ....global tgas..... */

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
span{
    font-size: 1rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* _____ navigation____ */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 8vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
   

}
nav img{
    width: 150px;
    cursor: pointer;
   margin-top: -37px;
    margin-left: 26px;
    align-items: center;
    height: 160px;
    
    
   

}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 7px;
    margin-right: 50px;
   
    
}
.navigation i{
    font-size: 30px;
    margin-top: 20px;
} 
.menu-btn{
   width: 30px;
   height: 30px;
   
}
nav .navigation {
    display: flex;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;  
}
nav .navigation ul li a{
    color: rgb(21, 21, 100);
    font-size: 19px;
    font-weight: 500;
    transition: 0.3s ease;
    margin-right: 30px;



}
nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color: #fdc98b;
} 

.bt{
  
    color: #fff;
    background-color:#fdc93b;
    transition: 0.3s ease;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
    
}
.bt:hover{
      background-color: rgb(21, 21, 100);
   color: white;

}



#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url(hime.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 25px;
}
#home a{
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
#home .btn{
    margin-top: 30px;
    display: flex;
    gap: 12px;
}
#home a.blue{
    color: #fff;
    background-color: rgb(21, 21, 100);
     transition: 0.3s ease;
    
}
#home a.blue:hover{
    background-color: #fff;
    color: rgb(21, 21, 100);

}
#home a.yellow{
    color: #fff;
    background-color:#fdc93b;
    transition: 0.3s ease;
    
}
#home a.yellow:hover{
      color: rgb(21, 21, 100);
    background-color: white;

}
/* ------------feature--------- */
#features{
    padding: 5vh 8vh 0 8vh;
    text-align: center;
   
}
#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#features .fea-box{
    background: #F9F9FF;
    text-align: start; 
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
     padding: 4vh 5vh 8vh 8vh;
    
}
#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);


}#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}
#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);  
}

/* --------- courses ------- */
#course{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}
#course .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
   
}
#course .courses:hover{
     transform: scale(1.05);
}
#course .courses{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
     transition: transform 0.3s ease;
    
    position: relative;
    
}
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 6px 6px 0px 0px;
}
#course .courses .detail {
    padding: 15px 15px 0 15px;
}
#course .courses .detail i{
    color: #fdc93b;
    font-size: .9rem; 
}
#course .courses .cost{
    background-color: rgb(74, 74, 136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 120px;
    left: 270px ;
}


/* --------------registration--------------- */
#registration{
    padding: 6vw 8vw 6vw 8vw;
   background-image: linear-gradient(rgba(99,112,168,0.5),rgb(81,91,233,0.5)),url('hime.png');
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 80px;
  
}
#registration .remainder{
    color: #fff; animation-name: reg;
   animation-duration: 3s;

}
#registration .remainder h1{
    color: #fff;

}
#registration .remainder .time{
    display: flex;
    margin-top: 50px;  
}
#registration .remainder .time .date{
    text-align:  center;
    padding: 13px 33px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
}
@keyframes reg{
    0%{
        transform: translate(-600px);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes reg1{
    0%{
        transform: translate(600px);
    }
    100%{
        transform: translate(0,0);
    }
}
#registration .form{
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  animation-name: reg1;
   animation-duration: 3s;

}
#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241,);
    outline: none;


}
#registration .form .btn{
    margin-top: 20px;
}
#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;

}
#registration .form a.yellow{
    color: #fff;
    background-color:#fdc93b;
    transition: 0.3s ease;
     font-size: 0.9rem;
    padding: 13px 35px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    
}
#registration .form a.yellow:hover{
      color: rgb(21, 21, 100);
    background-color: white;

}
/* ---------------Experts------------ */
#experts{
    padding: 8vw 8vw 0 8vw;
    text-align: center;    
}
#experts .expert-box{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#experts .expert-box .profile{
    background-color: #fafaf1;
    padding: 30px 10px;
}
#experts .profile {
    transition: transform 0.3s ease;
}
#experts .profile:hover{
     transform: scale(1.05);
}
.pro-links{
    margin-top: 10px;
}

.pro-links i{
    border: 1px solid rgb(21, 21, 100);
     padding: 10px 13px;
    cursor: pointer;
    width: 38px;
    transition: 0.3s ease;
}
.pro-links i:hover{
    border: 1px solid rgb(21, 21, 100);
     padding: 10px 13px;
     background-color: rgb(21, 21, 100);
     color: white;
     cursor: pointer;
}

/* ---------footer--------- */
footer{
    padding: 8vw;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;
}
footer .footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: rgb(241, 240, 245);
}
footer P{
    color: #7b838a;

}
footer .subscribe{
    margin-top: 20px;    
}
footer input{
    width: 220px;
    padding: 15px 12px;
    background-color: #334F6C;
    border: none;
    outline: none;
    color: white;
}
footer .subscribe a{
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    
}
footer .subscribe a.yellow{
    color: #2c2c2c;
    background-color:#fdc93b;
    transition: 0.3s ease;
    
}
footer .subscribe a.yellow:hover{
      color: rgb(21, 21, 100);
    background-color: white;
}
footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright P{
    color: white;
}

footer .copyright.pro-links{
    margin-top: 0px;
}

footer .copyright .pro-links i{
  
    background-color: #5f7185;
    color: white;
    cursor: pointer;
    width: 38px;
    transition: 0.3s ease;
}

footer .copyright .pro-links i:hover{
    
     background-color: #fdc93b;
     color: #2c2c2c;
     cursor: pointer;
}
 @media (max-width :769px){
   
    nav{
        padding:15px 10px ;
        
    }
    nav img{
        margin-left: -15px;
        width: 100px;
        height: 100px;
        margin-top: -18px;
    }
   nav .navigation ul li a{
    font-size: 17px;
    font-weight: 400;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
   
    
   }
   nav .navigation ul li{
    margin-right: -12px;
   }
   #home{
    padding-top: 0px;
   }
   #home p{
    width: 90%;
   }
   #features{
    padding: 8vw 4vw 0 4vw;
   }
   #course{
        padding: 8vw 4vw 0 4vw;
   }
   #registration{
          padding: 6vw 4vw 6vw 4vw;
   }
    #registration .remainder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    
}
@media (max-width :475px){
    #registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10;
        margin-bottom: 10px;
        
    }
    .subscribe{
        display: flex;
    }
    
    
}


